.ui-play-list-box {
  min-width: 30rem;
  min-height: 40rem;
  .--bg-blur {
    filter: blur(2px);
  }
}

.ui-play-list-box__bg {
  background-image: url('https://media.laodong.vn/storage/newsportal/2019/7/1/741910/Stg02291-15619849253.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  filter: blur(5px);
}