@tailwind base;
@tailwind components;
@tailwind utilities;

// .bg-primary-gradient {
//   background: rgba($color: #16222a, $alpha: 0.9); /* fallback for old browsers */
//   background: -webkit-linear-gradient(to right, rgba($color: #16222a, $alpha: 0.9), rgba($color: #3a6073, $alpha: 0.9)); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, rgba($color: #16222a, $alpha: 0.9), rgba($color: #3a6073, $alpha: 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

.bg-primary-gradient,
.bg-body-gradient {
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00416a, #e4e5e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00416a, #e4e5e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
