@media (min-width: 1280px) {
  .container-custom.container {
    max-width: 60rem;
  }
}

.z-m1 {
  z-index: -1;
}

.bg-matteblack {
  background: #232526;
}

.bg-lizard {
  background-color: rgb(48, 67, 82);
}

.bg-lizard-end {
  background-color: rgb(215, 210, 204);
}

.bg-lizard-gradient {
  background: rgb(48, 67, 82);
  background: -webkit-linear-gradient(to right, rgb(48, 67, 82), rgb(215, 210, 204));
  background: linear-gradient(to right, rgb(48, 67, 82), rgb(215, 210, 204));
}

.scrollbar-hidden::-webkit-scrollbar,
.scrollbar-hidden ::-webkit-scrollbar { 
  display: none; 
}

.font-shadows-into-light {
  font-family: 'Shadows Into Light', cursive;
}

.font-lovers-quarrel {
  font-family: 'Lovers Quarrel', cursive;
}

.font-common {
  font-family: 'Work Sans', Raleway, Arial, Helvetica, sans-serif;
}
.glass {
  background-color: rgba(0,0,0,0.1);
}

.hover\:glass:hover {
  background-color: rgba(0,0,0,0.1);
}

.bg-darker {
  filter: brightness(40%);
}

.text-2xs {
  font-size: 0.6rem;
}

.animated.linear {
  animation-timing-function: linear;
}

.top-haft {
  top: 50%;
}

.bottom-full {
  bottom: 100%;
}

.bottom-haft {
  bottom: 50%;
}

.top-full {
  top: 100%;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-haft {
  left: 50%;
}

.left-full {
  left: 100%;
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-mhaft-y-mhaft,
.translate-y-mhaft-x-mhaft {
  transform: translate(-50%, -50%);
}

.translate-y-mhaft {
  transform: translateY(-50%);
}

.translate-y-haft {
  transform: translateY(50%);
}

.translate-x-mfull {
  transform: translateY(-100%);
}

.translate-x-mhaft {
  transform: translateY(-50%);
}

.transition-fast {
  transition: 0.3s;
}

.transition-normal {
  transition: 0.75s;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.spin {
  animation-name: spin;
}

@keyframes rainbow {
  0%, 100% {
    background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe);
  }
  
  25% {
    background-image: linear-gradient(115deg,#fad648,#a767e5,#12bcfe,#4fcf70);
  }
  50% {
    background-image: linear-gradient(115deg,#a767e5,#12bcfe,#4fcf70,#fad648);
  }
  75% {
    background-image: linear-gradient(115deg,#12bcfe,#4fcf70,#fad648,#a767e5);
  }
}
