.ui-music-item {
  transition: all 0.2s;

  .--transform-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &:not(.ui-music-item--active) {
      background: rgba($color: #000000, $alpha: 0.2);
      background: -webkit-linear-gradient(to right, rgba($color: #000000, $alpha: 0.5), rgba($color: #434343, $alpha: 0.5)); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, rgba($color: #000000, $alpha: 0.5), rgba($color: #434343, $alpha: 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .--hover-to-see {
      display: flex;
    }
  }
}

.ui-music-item--active {
 .ui-music-item__avatar-img {
   filter: blur(3px) brightness(80%) opacity(90%);
 }
}
